{% extends 'base.html' %}
{% block content %}
<section class="admin-add-product">
    <h2>Add New Product</h2>
    <form method="POST" class="form-box">
        <label>Name:</label>
        <input type="text" name="name" required>

        <label>Description:</label>
        <textarea name="description"></textarea>

        <label>Price:</label>
        <input type="number" name="price" step="0.01" required>

        <label>Stock:</label>
        <input type="number" name="stock" required>

        <label>Image URL:</label>
        <input type="text" name="image">

        <button type="submit">Add Product</button>
    </form>
</section>
{% endblock %}
